extends layout

block content
  h1= lastname + ", " + firstname
  dl
    dt _id
    dd= _id
    dt firstname
    dd= firstname
    dt lastname
    dd= lastname
    dt phone
    dd= phone
    dt email
    dd= email
    dt type
    dd=type
    dt affiliation
    dd= affiliation
    dt topic
    dd= topic
    dt address
    dd= address

